
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide-wal
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide-shm
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide
.vs/AdventOfCode2018/v15/Server/sqlite3/db.lock
.vs/AdventOfCode2018/v15/.suo
.vs/AdventOfCode2018/DesignTimeBuild/.dtbcache
*.csv
*.ide
*.lock
*.ide-shm
*.ide-wal
*.dll
*.dll
*.dll
*.pdb
*.json
*.dll
*.pdb
*.cache
*.cache
*.pdb
AdventOfCode2018/obj/Debug/netcoreapp2.1/AdventOfCode2018.pdb
*.pdb
AdventOfCode2018/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AdventOfCode2018/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AdventOfCode2018/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AdventOfCode2018/obj/Release/netcoreapp2.1/AdventOfCode2018.csproj.FileListAbsolute.txt
AdventOfCode2018/obj/Release/netcoreapp2.1/AdventOfCode2018.AssemblyInfo.cs
AdventOfCode2018/obj/Debug/netcoreapp2.1/AdventOfCode2018.pdb
*.dll
.vs/AdventOfCode2018/xs/UserPrefs.xml
*.dll
*.pdb
*.user
*.cache
AdventOfCode2018/obj/Debug/netcoreapp2.1/AdventOfCode2018.dll
AdventOfCode2018/obj/Debug/netcoreapp2.1/AdventOfCode2018.pdb
