
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide-wal
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide-shm
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide
.vs/AdventOfCode2018/v15/Server/sqlite3/db.lock
.vs/AdventOfCode2018/v15/.suo
.vs/AdventOfCode2018/DesignTimeBuild/.dtbcache
